torch
torchvision
scikit-learn
torchmetrics
annoy
matplotlib
nest-asyncio
aiorwlock
pyzmq

fastapi
uvicorn
python-multipart

tqdm
black[d]
dynaconf

polars
requests

aiohttp
aiofile
uvloop

pytest
tensorboard